@charset "utf-8";
/* CSS Document */


body {
	font-size:18px;
	background-color:#fff;
	font-family:"proxima-nova",sans-serif;
	padding:0px;
	margin:0px;
	-moz-text-size-adjust:none;
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	text-size-adjust:none;
}

select, input {
	font-family:"proxima-nova-condensed",sans-serif;
	font-size:15px;	
}

#restWrapper {
	font-family:"proxima-nova-condensed",sans-serif;	
}

h1,h2,h3,h4,h5,h6 {
	margin:0px;padding:0px;
	margin-bottom:0.5em;
	line-height:100%;
	font-family:"proxima-nova",sans-serif;
}

h1,h2 {
	font-weight:bold;
}

h3,h4,h5,h6 {
	font-weight:bold;	
}

b, strong {
	font-weight:bold;
}

.wrapper {
	max-width:580px;
	min-width:340px;	
	width:100%;
	border-top:1px solid #000;
	padding-top:10px;
}

#restWrapper {
	font-size:16px;
	margin:10px;
	background-color:#eee;	
	padding:10px;
	margin-top:20px;
	box-shadow: 5px 5px 5px #ddd;
}

#howTo {
	font-family:"proxima-nova",sans-serif;
	font-size:13px;	
}

#inputsWrapper {
	position:relative;	
	float:left;
	width:37%;
	top:20px;
	font-size:15px;
}

#inputs td {
	line-height:100%;	
}

#outputsWrapper {
	float:right;
	margin-left:2%;
	width:56%;
	max-width:260px;
	font-size:15px;
}

#outputsWrapper .legendLabel {
	width:30px;
	height:1em;	
	margin-right:5px;
	float:left;
}

#outputsWrapper .thirdChildTier .legendLabel {
	background-color:#fed471	 
}

#outputsWrapper .marriagePenalty .legendLabel {
	background-color:#efa74f 
}

#outputsWrapper .ctc .legendLabel {
	background-color:#c75459	
}

#chartSurrounder {
	width:100%;	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:col-resize;
	position:relative;
}

#lossOverlay{
	position:absolute;	
	z-index:100;
}

#lossOverlay .circle{
	position:absolute;
	top:-12px;
}

#lossOverlay .subDiv {
	position:relative;
	font-weight:bold;
	font-size:20px;
	color:#fff;
	opacity:0.8;
	background-color:#0081a4;
	padding:5px;
}

#lineOverlay {
	position:absolute;
	background-color:#0081a4;
	width:2px;
	height:100%;
	top:0px;
}

#animationModeArea {
	display:none;	
}

#flotChart {
	width:100%;	
}

.axisLabels .yaxisLabel {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);	
}

div.credits {
	margin-left:10px;
	font-family:"proxima-nova";
	position:relative;	
}

div.credits p {
	font-size:13px;
	padding:0em;
	margin:0em;
}

#cbppCredit, #cbppCredit a {
	border-top:1px solid #000;
	font-size:13px;	
	margin-top:5px;
	padding-top:3px;
	text-align:right;
	color:#888888;
	margin-right:3px;
	text-transform:uppercase;
}

a {
	color:#0081a4;
	text-decoration:none;	
}

a:hover {
	text-decoration:underline;	
}

.embedLink {
	color:#0081a4;
	clear:both;
	cursor:pointer;
}

.embedLink:hover {
	text-decoration:underline;
}

div.embedCode {
	display:none;	
	position:absolute;
	height:4em;
	bottom:50px;
	border:1px solid #000;
	z-index:100;
	left:0px;
	width:92%;
	max-width:525px;
	background-color:#fff;
	padding:5px;
}

div.embedCodeArea {
	font-family:"Courier New", Courier, monospace;
	position:relative;
	top:10px;
	background-color:#fff;
	font-size:12px;
	
}

.explanatoryTip {
	font-family:"proxima-nova",sans-serif;
	font-size:12px;	
	background-color:#fff;
	border-color:#0081a4;
}

@media (max-width:520px) {
	#inputsWrapper, #outputsWrapper {
		float:none;
		width:80%;
		margin-left:auto;
		margin-right:auto;	
		top:0px;
		max-width:300px;
	}
	#inputsWrapper table, #outputsWrapper table{
		width:100%;
	}
	#howTo {
		width:80%;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:1em;
	}
	div.embedCode {
		height:5em;	
	}
}