@charset "utf-8";
/* CSS Document */


body, input, select {
	font-family:'Droid Sans',Arial, Helvetica, sans-serif;
}



.wrapper {
	max-width:650px;
	min-width:340px;	
	width:100%;
	
}

#restWrapper {
	font-size:12px;
	margin:10px;
	background-color:#eee;	
	padding:10px;
	box-shadow: 5px 5px 5px #ddd;
}

#inputsWrapper {
	position:relative;	
	float:left;
	width:45%;
	top:20px;
}

#outputsWrapper {
	float:right;
	margin-left:2%;
	width:45%;
}

#outputsWrapper .legendLabel {
	width:30px;
	height:1em;	
	margin-right:5px;
	float:left;
}

#outputsWrapper .thirdChildTier .legendLabel {
	background-color:#efa74f	 
}

#outputsWrapper .marriagePenalty .legendLabel {
	background-color:#fed471
}

#outputsWrapper .ctc .legendLabel {
	background-color:#c75459	
}

#chartSurrounder {
	width:100%;	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:col-resize;
	position:relative;
}

/*#labelOverlay {
	position:absolute;
	font-weight:bold;
	font-size:10px;
	color:#0081a4;
	bottom:3%;
	width:auto;
}*/

#lossOverlay{
	position:absolute;	
}

#lossOverlay .circle{
	position:absolute;
	top:-6px;
}

#lossOverlay .subDiv {
	position:relative;
	font-weight:bold;
	font-size:16px;
	color:#fff;
	opacity:0.8;
	background-color:#0081a4;
	padding:5px;
}

#lineOverlay {
	position:absolute;
	background-color:#0081a4;
	width:2px;
	height:100%;
	top:0px;
}

#animationModeArea {
	display:none;	
}

#flotChart {
	width:100%;	
}

.axisLabels .yaxisLabel {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);	
}

@media (max-width:500px) {
	#inputsWrapper, #outputsWrapper {
		float:none;
		width:80%;
		margin-left:auto;
		margin-right:auto;	
		top:0px;
	}
	#inputsWrapper table, #outputsWrapper table{
		width:100%;
	}
}